* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

h1 {
    color: #000;
    font-weight: bold;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.vertical-divider {
    width: 1px;
    height: 30px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    padding: 20px 100px;
}


.shadow {
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
}

.border-radius {
    border-radius: 10px;
}

.poster {
    margin-left: 10px;

}

.poster h1 {
    font-size: 30px;
}

/* CSS index.html */

/* user login register */

.loginreg{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.userlogin{
    position: relative;
    margin-top: 125px;
    margin-bottom: 50px;
    width: 750px;
    height: 400px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.userlogin::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #fbcd17, #f5e8b4);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.signin-signup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form.sign-in-form{
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

form.sign-up-form{
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.title{
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}

.input-field{
    width: 100%;
    height: 40px;
    background: #a5aaaf;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field i{
    flex: 1;
    text-align: center;
    color: black;
    font-size: 15px;
}

.input-field input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: black;
    border-bottom-right-radius:20px ;
    border-top-right-radius: 20px;
}

.btn{
    width: 150px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50px;
    background: #a5aaaf;
    color: black;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover{
    background: #a5aaaf;
}

.social-text{
    margin: 10px 0;
    font-size: 14px;
    justify-content: center;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbcd17;
    border: 1px solid #fbcd17;
    border-radius: 50px;
    margin: 0 5px;
    font-size: 16px;
}

a{
    text-decoration: none;
}

.social-icon:hover{
    color: black;
    border-color: black;
}

.panel-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}

.left-panel{
    pointer-events:none ;
}

.content{
    color: black;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.panel h3{
    font-size: 24px;
    font-weight: 600;
}

.panel p{
    font-size: 15px;
    padding: 10px;
}

.image{
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.left-panel .image,
.left-panel .content{
    transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content{
    transform: translateX(0%);
}

.account-text{
    display: none;
}

/* animasi userlogin */

.userlogin.sign-up-mode::before{
    transform: translateX(0);
}

.userlogin.sign-up-mode .right-panel .image,
.userlogin.sign-up-mode .right-panel .content{
    transform: translateX(200%);
}

.userlogin.sign-up-mode .left-panel .image,
.userlogin.sign-up-mode .left-panel .content{
    transform: translateX(0);
}

.userlogin.sign-up-mode form.sign-in-form{
    opacity: 0;
}

.userlogin.sign-up-mode form.sign-up-form{
    opacity: 1;
}

.userlogin.sign-up-mode .right-panel{
    pointer-events: none;
}

.userlogin.sign-up-mode .left-panel{
    pointer-events: all;
}

@media (max-width: 450px){
    .title{
        font-size: 20px;
    }

    .input-field{
        width: 80%;
    }

    .btn{
        width: 120px;
        font-weight: bold;
    }
}